#add {
    border-style: dashed;
    border-width: 5px;
}

#plus-sign {
    top: 40%;
    left: 40%;
}

.room {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    margin: 30px;
    background-color: #222;
}

.room-img {
    border: 2px transparent;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    background: url(../img/friends.jpg) no-repeat center center;
}

.room-bottom {
    width: 100%;
    height: 50%;
}

.room-name {
    text-align: center;
    position: relative;
    top: 40%;
}