<!doctype html>
<html>
<head>
  <title>IOU</title>
<body>
<div>
  <style>
  html { 
  background: url(assets/logo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  /*body {
    background-color: black;
  }
  div.box {width: 50%; height: 100;}
  div.div1{height: 100%; background-image:url('/assets/logo.jpg') }
  div.div2{background: #666; height: 100%; }
  div.clear { clear: both; height: 1px; overflow: hidden; font-size:0pt; margin-top: -1px; }*/
  </style>
  <div class="box">
     <div class="div1"></div>
     <div class="div2"></div>
     <div class="div3">
     <div class="clear">
  </div>

</div>
</body>
</html>
