<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tipsy.js"></script>
<link href="/css/tipsy.css" rel="stylesheet" type="text/css" />
<script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>
<script type="text/javascript" src="/js/graph.js"></script>
</body>
</html>